<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctmp01.web.mapper.MenuMapper">
    <select id="findTree"  resultType="com.ctmp01.web.entity.Menu" parameterType="java.lang.Integer">
 SELECT id,name,parent_id,url ,icon,orders FROM menu where icon=#{icon,jdbcType=INTEGER}
    </select>
</mapper>